<div class="center jumbotron">
    <h1>Welcome to Matterhorn!</h1>

    <p>
	Matterhorn is one of a suite of web tools that you can use to work
	with the digital editions of avant-garde periodicals created by
	the Blue Mountain Project.
    </p>

    <%= image_tag('guinea-pig-tan.jpg', alt: "a guinea pig")  %><br/>
    <%= link_to "Sign up now", '#', class: "btn btn-lg btn-primary" %>
</div>
